.ment1,
.ment2 {
    font-family: var(--body-font);
    font-size: var(--h1-font-size);

    margin: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.Washing-Machine,
.Shower-Room {
    width: 30%;
    height: 100%;
    background-color: gray;
    margin-left: 20px;
}

.Washing-Machine + .Shower-Room {
    margin-left: 15px;
}

.Reservation-list {
    display: flex;
    height: 20vh;
}

.Scores,
.Cleaner,
.Teachers {
    width: 30%;
    height: 100%;
    background-color: gray;
    margin-left: 20px;
}

.Scores + .Cleaner {
    margin-left: 15px;
}

.Cleaner + .Teachers {
    margin-left: 15px;
}

.Rule-list {
    display: flex;
    height: 25vh;
}

@media screen and (max-width: 720px) {
    .container {
        grid-template-columns: 0% 100% 0%;
    }

    .left-side,
    .right-side {
        display: none;
    }

    .main {
        grid-area: main;
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .ment1 {
        margin-top: -15%;
        margin-bottom: 5%;
    }

    .ment2 {
        margin-top: 5%;
    }

    .Scores,
    .Cleaner,
    .Teachers {
        width: 28%;
        margin-left: 20px;
        margin-top: 5%;
    }
}